.navbar {
    background-color: #032d57;
}
.text1 {
    box-sizing: border-box;
    position: center;
    background-color: lightslategrey;
    border-radius: 15px;
    margin-left: 20%;
    padding: 6%;
    color: white;
    height: 200px;
    width: 400px;
    font-size: 30px;
}
.text2 {
    box-sizing: border-box;
    position: center;
    background-color: lightslategrey;
    border-radius: 15px;
    margin-left: 20%;
    margin-right: -9%;
    padding: 6%;
    color: white;
    height: 200px;
    width: 400px;
    font-size: 30px;
}

.btn-group {
    text-align: center;
    margin-top: 10%;
}
a.plus {
    text-decoration: none;
    color: black;
}
a.plus:hover {
    color: white;
}

a.textlink:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a.textlink:hover {
    color: #032d57;
    background-color: transparent;
    text-decoration: underline;
}

.p1 {
    text-align: left;
    margin-left: 13%;
    font-size: 20px;
}
.p2 {
    text-align: center;
    margin-left: 17%;
    font-size: 20px;
}
.p3 {
    text-align: right;
    margin-left: 18%;
    font-size: 20px;
}

.footer {
    height: 220px;
    width: 100%;
    background-color: #032d57;
    color: white;
}
