/* This sets the color for the navbar */
.navbar {
    background-color: #032d57;
}
/* This styles the body for every subpage of the web application */
.body_box {
    height: fit-content;
    min-height: 700px;
}
.homepage_optioncontainer {
    height: fit-content;
    min-height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2%;
}

.excursion_option {
    box-sizing: border-box;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(3, 45, 87, 0.27);
    border-radius: 15px;
    height: 200px;
    width: 400px;
    font-size: 30px;
    margin-bottom: 4%;
}
.wbu_option {
    box-sizing: border-box;
    position: center;
    background-color: rgba(3, 45, 87, 0.27);
    border-radius: 15px;
    padding: 6%;
    color: white;
    height: 200px;
    width: 400px;
    font-size: 30px;
}

/* This styles the div that contains the start button on the admin pages for the WBÜ and excursion distribution */
.distribution_activator {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 15px;
}

/* This styles the tables on the admin pages for the wbü and excursion distribution */
.distribution_table {
    width:90%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.table_cell {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.btn-group {
    text-align: center;
    margin-top: 10%;
}
a.plus:link {
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    color: black;
}
a.plus:hover {
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    color: white;
}

a.plus:visited {
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    color: black;
}

a.textlink:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a.textlink:hover {
    color: #032d57;
    background-color: transparent;
    text-decoration: underline;
}

a.textlink:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

.p1 {
    text-align: left;
    margin-left: 13%;
    font-size: 20px;
}
.p2 {
    text-align: center;
    margin-left: 17%;
    font-size: 20px;
}
.p3 {
    text-align: right;
    margin-left: 18%;
    font-size: 20px;
}

/* This styles the footer on each page of the web application. */
.footer {
    position: absolute;
    margin-bottom: 0;
    height: fit-content;
    min-height: 200px;
    width: 100%;
    background-color: #032d57;
    color: white;
    text-align: center;
    justify-content: center;
    align-content: center;
    padding: 5%;
}

/* Here are style elements for the timetable generator page that was not created due to the restriction.*/
.constraint_box {
    padding: 1%;
    margin: 1%;
    background-color: rgba(3, 45, 87, 0.27);
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: #000000;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: auto;
}
.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip-container .tooltip {
    visibility: hidden;
    width: 120px;
    background-color: rgba(3, 45, 87, 0.27);
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 100%;
    margin-top: -18px; /* Halbe Höhe des Tooltips für die zentrierte Ausrichtung */
    margin-left: 16px; /* Abstand zum Bild */
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-container .tooltip::before {
    content: "";
    position: absolute;
    top: 13.1%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #000000;
}

.tooltip-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
}